log.dirs={% for logdir in kafka.broker.datadir %}{% if loop.index > 1%},{% endif %}{{ logdir }}{% endfor %}

broker.id={{kafka.broker.id}}
zookeeper.connect={{ kafka.broker.connect }}

{% for key, value in kafka.broker.config.items() %}
{{key}}={{value}}
{% endfor %}
